
<!-- sound_wave, audio_url, description, image -->

<% include ../partials/boilerplate %>

    <% if ( soundData) { %>
      <div class = 'waveBaby'>
        <% for (i = 0; i < soundData.length ; i++){ %>

          <ul>
            <center>
                <form method="POST" action="">
                    
                    <input id="submit" type='submit' class="add" value='Add to Favorites'/>
                    
                    <input type="text" name="id" value = '<%= soundData[i].id %>'>
                    <input type="text" name="sound_wave" value = '<%= soundData[i].sound_wave %>'>
                    <input type="text" name="description"value = '<%= soundData[i].description %>'>
                    <input type="text" name="audio_url" value = '<%= soundData[i].audio_url %>'>

                    <iframe   class='alpha' src = ' <%= soundData[i].audio_url %>' width="500" height="315" frameborder="0" allowfullscreen></iframe>

                </form>

            </center>      
        </ul>
       <% } %>
    <% } %>

<% include ../partials/end %>


<!-- sound_wave, audio_url, description, image -->
<!-- EVERYTHING ABOVE THIS LINE ACTUALLY MAKES NO SENSE -->



